<div class="modal-header">
    <h1>Create New Room Booking</h1>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="roomBookingForm" role="form" novalidate>
        <fieldset>
            <legend>Room Booking</legend>
            <div class="form-group" ng-class="{'has-error' : roomBookingForm.Id.$invalid && roomBookingForm.Id.$touched}">
                <label for="id" class="col-sm-3 control-label">Id</label>
                <div class="col-sm-9">
                    <input type="text" id="id" name="id" class="form-control" 
                           ng-model="editableRoomBooking.Id" 
                           ng-required="true" 
                           ng-pattern="/^\d/"
                           autofocus />
                    <span class="help-block" 
                          ng-show="(submitted || roomBookingForm.Id.$touched) && roomBookingForm.Id.$error.required">Id is required</span>
                    <span class="help-block"
                          ng-show="(submitted || roomBookingForm.Id.$touched) && roomBookingForm.Id.$error.pattern">Id must be a number</span>
                </div>
            </div>
            <div class="form-group">
                <label for="roomId" class="col-sm-3 control-label">Room</label>
                <div class="col-sm-9">
                    <select name="roomId" id="roomId" class="form-control"
                            ng-model="editableRoomBooking.RoomId"
                            ng-options="room.value as room.label for room in rooms"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="startDate" class="col-sm-3 control-label">Booked From</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input type="text" class="form-control"
                               ng-model="editableRoomBooking.StartDate" uib-datepicker-popup="{{format}}" is-open="popupStartDate.opened" datepicker-options="dateOptions" 
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openStartDatePicker()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="endDate" class="col-sm-3 control-label">Booked To</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input type="text" class="form-control" 
                               ng-model="editableRoomBooking.EndDate" uib-datepicker-popup="{{format}}" is-open="popupEndDate.opened" datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEndDatePicker()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="bookingStatus" class="col-sm-3 control-label">Booking Status</label>
                <div class="col-sm-9">
                    <select name="bookingStatus" id="bookingStatus" class="form-control"
                            ng-model="editableRoomBooking.BookingStatusId"
                            ng-options="bookingStatus.value as bookingStatus.label for bookingStatus in bookingStatuses"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="paymentStatus" class="col-sm-3 control-label">Payment Status</label>
                <div class="col-sm-9">
                    <select name="paymentStatus" id="paymentStatus" class="form-control"
                            ng-model="editableRoomBooking.PaymentStatusId"
                            ng-options="paymentStatus.value as paymentStatus.label for paymentStatus in paymentStatuses"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="advancePaid" class="col-sm-3 control-label">Advance Paid</label>
                <div class="col-sm-9">
                    <input type="text" id="advancePaid" name="advancePaid" class="form-control" ng-model="editableRoomBooking.AdvancePaid" />
                </div>
            </div>
            <div class="form-group">
                <label for="totalPaid" class="col-sm-3 control-label">Total Paid</label>
                <div class="col-sm-9">
                    <input type="text" id="totalPaid" name="totalPaid" class="form-control" ng-model="editableRoomBooking.TotalPaid" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancel"
               ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Submit"
               ng-click="submitForm()" />
        <input type="reset" class="btn btn-warning" value="Reset"
               ng-click="resetForm()" />
        <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
    </div>
</div>

