@{
    ViewBag.Title = "Dashboard";
}

<!DOCTYPE html>
<html ng-app="angularFormsApp">
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/hotelBooking/style")
    @Scripts.Render("~/bundles/hotelBooking/script")
</head>
<body class="container">
    <br />
    <div ng-view></div>
</body>
</html>