<input type="button" class="btn btn-primary" value="Add New Room Booking"
       ng-click="showCreateRoomBookingForm()" />
<br />
<br />
<table style="width: 99%; background-color:#FFFFFF; border: solid 2px #6D7B8D; padding: 5px; width: 99%; table-layout:fixed;" cellpadding="2" cellspacing="2">
    <tr style="height: 30px; background-color:#428BCA ; color:#FFFFFF ;border: solid 1px #659EC7;">
        <td width="40" align="center"><b>Edit</b></td>
        <td width="40" align="center"><b>Delete</b></td>
        <td width="60" align="center"><b>Room No </b></td>
        <td width="80" align="center"><b>Booked From</b></td>
        <td width="80" align="center"><b>Booked To</b></td>
        <td width="90" align="center"><b>Booking Status</b></td>
        <td width="80" align="center"><b>Paid</b></td>
        <td width="80" align="center"><b>Advance</b></td>
        <td width="80" align="center"><b>Total</b></td>
    </tr>
    <tbody data-ng-repeat="roomBooking in roomBookings">
        <tr>
            <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">
                    <img src="~/Images/edit.gif" alt="Edit" width="24px" height="24px" ng-click="showUpdateRoomBookingForm(roomBooking.Id)">
                </span>
            </td>
            <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">
                    <img src="~/Images/delete.gif" alt="Delete" width="24px" height="24px" ng-click="roomBookingDelete(details.BookingID)">
                </span>
            </td>
            <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{roomBooking.Room.Id}}</span>
            </td>
            <td valign="top" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{roomBooking.StartDate | date:'yyyy-MM-dd'}}</span>
            </td>
            <td valign="top" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{roomBooking.EndDate | date:'yyyy-MM-dd'}}</span>
            </td>
            <td valign="top" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{roomBooking.BookingStatus.Name}}</span>
            </td>
            <td valign="top" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{roomBooking.PaymentStatus.Name}}</span>
            </td>
            <td valign="top" align="right" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{roomBooking.AdvancePaid}}</span>
            </td>
            <td valign="top" align="right" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{roomBooking.TotalPaid}}</span>
            </td>
        </tr>
    </tbody>
</table>